<!DOCTYPE html>
<html>
  <head>
   
    <title>Event Tickets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bought_tickets.css">
    <link rel="stylesheet" href="/assets/css/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </head>

    <body style="background-image: linear-gradient(#b1c9ce,white);">
        <script type="text/javascript">
            $(document).ready(function(e) {
                $('#nav').load('/navbar');
            });
        </script>
        <div id="nav"></div>  

        <div class="container text-center" >
            <div class="row pt-5">
                <div class="col-lg-8 mx-auto" style="text-align:center; color: #04044c; margin-top: 6%;">
                    <h1>Gli eventi da te creati</h1>   
                </div>
            </div>
        </div>
        <div class="container text-center" >
            <div class="row pt-5">
                <div class="col-lg-8 mx-auto" style="text-align:center; color: #03032c;">
                    <h2>Nella tabella seguente è possibile trovare <br>i dati relativi agli eventi per cui sono stati <br> acquistati dei biglietti o per cui sono state riservate delle prevendite</h2>  
                </div>
            </div>
        </div>
        <div class="container py-5" style="padding-bottom: 100%">
            <div class="row" >
                <div class="col-lg-12 card card-prenotazione" >
                <!-- Fixed header table-->
                
                    <table class="table table-fixed">
                        <thead>
                            <td style="width:20%">Nome</td>
                            <td style="width:15%">Data</td>
                            <td style="width:10%">Ora</td>
                            <td style="width:10%">Tipologia</td>
                            <td style="width:10%">Categoria</td>
                            <td style="width:15%">Biglietti</td>
                            <td style="width:15%">Rimanenti</td>
                            <td style="width:15%">Prezzo</td>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < events.length; i++) {%>
                                <tr>
                                    <td> <h6> <%= events[i].name %> </h6> </td>
                                    <td> <h6> <%= events[i].date %> </h6> </td>
                                    <td> <h6> <%= events[i].tipo %> </h6> </td>
                                    <td> <h6> <%= events[i].categoria %> </h6> </td>
                                    <td> <h6> <%= events[i].num_bigl %> </h6> </td>
                                    <td> <h6> <%= events[i].bigl_rimanenti %> </h6> </td>
                                    <td> <h6> <%= events[i].prezzo %> </h6> </td>
                                    
                                </tr>
                                <% } %>
                            
                        </tbody>
                    </table>
                </div>   
                <!-- End -->
            </div>
        </div>

        <%- include('./footer'); %>
        <script src="jquery.js"></script>
        <script src="slide.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="index.js"></script>
        <script src="sos.js"></script>
        <script src="opacita.js"></script>
        
</html>