<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> -<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Evento</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/single_event.css">
    </head>

    <body>
        <body id="body-home" style="overflow-x:hidden;"></body>
    <div style="display:flex; flex-direction:column-reverse; height:15vh; ">
        
    </div>
    <div class="fluid bio-name">
       <h2 id="team-bio" style="margin-top: -300px;">Evento</h2>
        <div class="bio-img1 bio-img"><img src="/assets/event-2.png" style="position:absolute;border-radius: 50%;width: 280px; height: 280px;background-size: cover;     border: 2px solid #2e2e69;"></div>
    </div>
    <div>
        <div class="container bio-text">
        <div> 
           <br>
               <h4>Nome Evento: </h4><h2><%= resqu.name %></h2><br>
               <h4>Categoria: </h4><h2><%= resqu.categoria %></h2><br>
               <h4>Città: </h4><h2><%= resqu.city %></h2><br>
               <h4>Locale: </h4><h2><%= resqu.locale %></h2><br>
               <h4>Data: </h4><h2><%= resqu.date.toLocaleDateString() %></h2><br>
               <h4>Ora: </h4><h2><%= resqu.date.toLocaleTimeString() %></h2><br>
               <h4>Tipo di Biglietto: </h4><h2><%= resqu.tipo %></h2><br>
               <h4>Descrizione Evento: </h4><h2><%= resqu.descrizione %></h2><br>
               <% if (resqu.tipo=="Biglietto")  {%>
               <h4>Prezzo per biglietto: </h4><h2><%= resqu.prezzo %></h2><br>
               <h4>Biglietti rimasti sul nostro sito: </h4><h2><%= resqu.bigl_rimanenti %></h2><br>
                   <h4>Numero biglietti da acquistare:</h4>
                   <form action="/checkout" method="get" style="padding-bottom:200px">
                        <input type="hidden" name="name_event" value="<%= resqu.name %>">
                        <input type="hidden" name="data_event" value="<%= resqu.date %>">
                        <input type="hidden" name="city_event" value="<%= resqu.city %>">
                        <input type="hidden" name="locale_event" value="<%= resqu.locale %>">
                        <input type="hidden" name="price_event" value="<%= resqu.prezzo %>">
                        <input type="hidden" name="avaliable_event" value="<%= resqu.bigl_rimanenti %>">
                        <input type="hidden" name="user_email" value="<%= email %>">
                        <input type="hidden" name="id_event" value="<%= resqu._id %>">
                        <input type="radio" id="1" name="num_tick" value="1" required/> : 1 <br>
                        <input type="radio" id="2" name="num_tick" value="2"/> : 2 <br>
                        <input type="radio" id="3" name="num_tick" value="3"/> : 3 <br>
                        <input type="radio" id="4" name="num_tick" value="4"/> : 4 <br>
                        <input type="submit" value="Procedi al pagamento"><br>
                   </form>
               <% } %>
               <% if (resqu.tipo=="Prevendita")  {%>
                   <h4>Prezzo per prevendita: </h4><h2><%= resqu.prezzo %></h2><br>
                   <h4>Prevendite rimaste sul nostro sito: </h4><h2><%= resqu.bigl_rimanenti %></h2><br>
                   <h4>Numero prevendite da prenotare:</h4>
                   <form action="/return_prevendite" method="get" style="padding-bottom:50px">
                        <input type="hidden" name="name_event" value="<%= resqu.name %>">
                        <input type="hidden" name="data_event" value="<%= resqu.date %>">
                        <input type="hidden" name="city_event" value="<%= resqu.city %>">
                        <input type="hidden" name="locale_event" value="<%= resqu.locale %>">
                        <input type="hidden" name="price_event" value="<%= resqu.prezzo %>">
                        <input type="hidden" name="avaliable_event" value="<%= resqu.bigl_rimanenti %>">
                        <input type="hidden" name="user_email" value="<%= email %>">
                        <input type="hidden" name="id_event" value="<%= resqu._id %>">
                       <input type="radio" id="1" name="num_tick" value="1" required/> : 1 <br>
                       <input type="radio" id="2" name="num_tick" value="2"/> : 2 <br>
                       <input type="radio" id="3" name="num_tick" value="3"/> : 3 <br>
                       <input type="radio" id="4" name="num_tick" value="4"/> : 4 <br>
                       <input type="submit" value="Procedi alla prenotazione"><br>
                   </form>
               <% } %>
               <div style="padding-bottom: 100px;">
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='/events.html'" >Back</button>
               </div>

        </div>
    </div>
        </div>
    </div>
    </body>
</body>
</html>